### Python ###
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
.env

### C++ ###
*.o
*.a
*.out
*.so
build/
CMakeCache.txt
CMakeFiles/
Makefile

### QEMU/Android ###
*.iso
*.qcow2
*.img
android_disk.img

### Logs y Temporales ###
*.log
*.tmp
*.swp

### Entornos y IDEs ###
.vscode/
.idea/
.DS_Store
